<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OrderForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OrderForm.Properties.Settings>
            <setting name="barcodetb" serializeAs="String">
                <value>[NAME:TextBox1]</value>
            </setting>
            <setting name="invoiceprc" serializeAs="String">
                <value>[NAME:Label56]</value>
            </setting>
            <setting name="invoicenotes" serializeAs="String">
                <value>[NAME:TextBox8]</value>
            </setting>
            <setting name="btntogo" serializeAs="String">
                <value>[NAME: ButtonX1]</value>
            </setting>
            <setting name="btnphone" serializeAs="String">
                <value>[NAME: ButtonX11]</value>
            </setting>
            <setting name="btn1" serializeAs="String">
                <value>[NAME:Button1]</value>
            </setting>
            <setting name="btn2" serializeAs="String">
                <value>[NAME:Button2]</value>
            </setting>
            <setting name="btn3" serializeAs="String">
                <value>[NAME:Button3]</value>
            </setting>
            <setting name="btn4" serializeAs="String">
                <value>[NAME:Button4]</value>
            </setting>
            <setting name="btn5" serializeAs="String">
                <value>[NAME:Button5]</value>
            </setting>
            <setting name="btn6" serializeAs="String">
                <value>[NAME:Button6]</value>
            </setting>
            <setting name="btn7" serializeAs="String">
                <value>[NAME:Button7]</value>
            </setting>
            <setting name="btn8" serializeAs="String">
                <value>[NAME:Button8]</value>
            </setting>
            <setting name="btn9" serializeAs="String">
                <value>[NAME:Button9]</value>
            </setting>
            <setting name="btn0" serializeAs="String">
                <value>[NAME:Button12]</value>
            </setting>
            <setting name="btnsubmit" serializeAs="String">
                <value>[NAME:Button13]</value>
            </setting>
            <setting name="amountlbl" serializeAs="String">
                <value>[NAME:Label25]</value>
            </setting>
            <setting name="CashTextBox" serializeAs="String">
                <value>[NAME:TextBox5]</value>
            </setting>
            <setting name="SaveBTN" serializeAs="String">
                <value>[NAME:Label34]</value>
            </setting>
            <setting name="SwitchBTN" serializeAs="String">
                <value>[NAME:SwitchButton1]</value>
            </setting>
            <setting name="pos" serializeAs="String">
                <value> نقطة بيع مطعم سحائب طيبه سليمانية 2022</value>
            </setting>
            <setting name="Mada1" serializeAs="String">
                <value>[NAME:TextBox22]</value>
            </setting>
            <setting name="Mada2" serializeAs="String">
                <value>[NAME:TextBox25]</value>
            </setting>
            <setting name="Mada3" serializeAs="String">
                <value>[NAME:TextBox27]</value>
            </setting>
            <setting name="PartCash" serializeAs="String">
                <value>[NAME:TextBox29]</value>
            </setting>
            <setting name="Mada1Combo" serializeAs="String">
                <value>[NAME:ComboBox15]</value>
            </setting>
            <setting name="Mada2Combo" serializeAs="String">
                <value>[NAME:ComboBox16]</value>
            </setting>
            <setting name="Mada3Combo" serializeAs="String">
                <value>[NAME:ComboBox17]</value>
            </setting>
            <setting name="DBConnection" serializeAs="String">
                <value>Filename=C:\db\db.db</value>
            </setting>
            <setting name="defaultOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InvoiceNumberTB" serializeAs="String">
                <value>[NAME:TextBox4]</value>
            </setting>
            <setting name="InvoiceTime" serializeAs="String">
                <value>[NAME:Label30]</value>
            </setting>
            <setting name="POSMainName" serializeAs="String">
                <value>Libra Soft® مطعم سحائب طيبه سليمانية 2023</value>
            </setting>
            <setting name="POSNewBTN" serializeAs="String">
                <value>[NAME:Label35]</value>
            </setting>
            <setting name="POSShortcut" serializeAs="String">
                <value>[NAME:ToolStrip3]</value>
            </setting>
            <setting name="POSWinShortcut" serializeAs="String">
                <value>[NAME:Label222]</value>
            </setting>
            <setting name="POSClearNumber" serializeAs="String">
                <value>[NAME: Button10]</value>
            </setting>
            <setting name="CurrentTax" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BranchName" serializeAs="String">
                <value>فرع السليمانية</value>
            </setting>
            <setting name="TestingMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="showMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fnt" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FontCombo" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="POSPhoneNumber" serializeAs="String">
                <value>[NAME:TextBox6]</value>
            </setting>
            <setting name="POSClientName" serializeAs="String">
                <value>[NAME:TextBox7]</value>
            </setting>
            <setting name="WheelEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WheelGridEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="API_ACCESS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="API_Server_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="API_Connection" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemSize" serializeAs="String">
                <value>200,222</value>
            </setting>
            <setting name="RestaurantName" serializeAs="String">
                <value />
            </setting>
            <setting name="Logo" serializeAs="String">
                <value />
            </setting>
            <setting name="CashierPrinter" serializeAs="String">
                <value />
            </setting>
        </OrderForm.Properties.Settings>
    </userSettings>
  
</configuration>