@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">مطعم سحائب طيبة</h3>
    <h3 class="display-4">فرع السليمانية</h3>
    <br />
    <br />
    <br />
    <br />
    <h1> إختر نوع الطلب</h1>
    <br/>
    <br/>
    <br/>
    <div>
        <button FontSize="20"> محلي</button>
    </div>
    <br />
    <br />
    <div>
        <button> سفري</button>
    </div>
    <br />
    <br/>
    <div>
        <button> مجدول</button>
    </div>
    
    

    
    <br />
    <br />
    
    <br />
    <br />
    <br />
    


    
</div>
